<?xml version='1.0' encoding='utf-8'?>
<widget id="br.example.avestruz" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Nu3 App</name>
	<!-- Default application icon -->
	<icon src="www/res/icon/nu3_icon.png" />
	<!--
		Default icon should work, but cordova don't overwrite
		the default on all densities
	-->
	<preference name="fullscreen" value="false" />
	<preference name="KeyboardShrinksView" value="false" />
	<preference name="orientation" value="portrait" />
	<icon src="www/res/icon/nu3_icon.png" platform="android" density="ldpi" />
	<icon src="www/res/icon/nu3_icon.png" platform="android" density="mdpi" />
	<icon src="www/res/icon/nu3_icon.png" platform="android" density="hdpi" />
	<icon src="www/res/icon/nu3_icon.png" platform="android" density="xhdpi" />
    <description>
        Pensar em uma descrição.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Avestruz Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
